# rc file exemple for rpmrestore
# $Id$
# it can be used as 
# - host (general) configuration file as /etc/rpmrestorerc
# - home (user) configuration file as ~/.rpmrestorerc
# - local configuration file as ./.rpmrestorerc
# 
# the program will read them all in order from host to local
#
# syntaxe :
# - all line beginning with "#" are comments
# - all parameter have the same name as command line arguments, without dash

# no verbose mode
#verbose = 0

# interactive mode
#batch = 0

# dryrun mode
#dry-run = 0

# log file
#log = /tmp/rpmrestore.log

# attributes
# set to 1 to use it
# set to 0 to ignore it
# the default is all to 1

# user = 1
# group = 1
# mode = 1
# mode = 1
# time = 1
# size = 1
# md5 = 1
