# rc file exemple for rpmrestore
# should be copied on your home directory in .rpmrestorerc file

# no verbose mode
verbose = 0

# interactive mode
batch = 0

# dryrun mode
dry-run = 1

# log file
log = /tmp/rpmrestore.log

# attributes
# set to 1 to use it
# set to 0 to ignore it
# the default is all to 1

# user = 1
# group = 1
# mode = 1
# mode = 1
# time = 1
# size = 1
# md5 = 1
